{% extends 'base.html' %}
{% block title %}О компании — ПолиФорм{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-6">О компании</h1>
<div class="bg-white p-8 rounded-xl shadow-sm border border-gray-100 prose max-w-none">
    <p>ПолиФорм — предприятие по литью пластмассовых изделий на термопластавтоматах.</p>
    <p>-</p>
    <p>Мы производим серийные партии изделий из различных полимеров: ABS, PP, PE, PA, PC и других.</p>
    <p>-</p>
    <p>Наша компания на рынке с 2006 года. Сотрудничать с нами легко, удобно и выгодно. Приоритетами нашего 
    развития являются увеличение объемов выпускаемой продукции за счет освоения новых, прогрессивных технологий,
    расширение ассортимента и выход на новые рынки.</p>
</div>
{% endblock %}